@main("Arme"){
		<div class="display wrapper">
				<nav class="navbar navbar-inverse" role="navigation">
				  <div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					  <a class="navbar-brand" href="/home">Home</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
					   
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alle Kategorien <span class="caret"></span></a>
						  <ul class="dropdown-menu" role="menu">
							<li><a href="/bauch">Bauch</a></li>
							<li><a href="/beine">Beine</a></li>
							<li><a href="/brust">Brust</a></li>
							<li><a href="/ruecken">R&uumlcken</a></li>
							<li><a href="/schultern">Schultern</a></li>
							<li class="divider"></li>
							<li><a href="/vipPlaene">V.I.P. Pl&aumlne</a></li>
							<li><a href="/fertigePlaene">Fertige Pl&aumlne</a></li>
							<li class="divider"></li>
							<li><a href="/ourGym">Alle Kategorien</a></li>
						   
						  </ul>
						</li>
						<li><a href="#">Arme</a></li>
					  </ul>
				 
					  <ul class="nav navbar-nav navbar-right">
						<li><a href="/atGym">Abmelden</a></li>
					  </ul>
					  
					   <ul class="nav navbar-nav navbar-right">
						<li><a href="#" data-toggle="modal" data-target="#myModal_list">Liste</a></li>
							<!-- Modal -->
									<div class="modal fade" id="myModal_list" tabindex="-1" role="dialog" aria-labelledby="myModal_listLabel" aria-hidden="true">
									  <div class="modal-dialog">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close " data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only ">Close</span></button>
											<h4 class="modal-title" id="myModalLabel">Deine Pl&aumlne</h4>
										  </div>
										  <div class="modal-body">
											<table class="table">
												<tr><th>Plan</th><th>Tag</th><th>Übung</th><th>S&aumltze</th><th></th></tr>
												<!--<tr id="p1u1"><td>Plan 1</td><td>Uebung 1</td><td>3</td><td><button type="button" class="close deleteRowButton">
																														<span aria-hidden="true">&times;</span>
																														<span class="sr-only">Close</span>
																														</button></td></tr>-->
												
											</table>
										  </div>
										 
										</div>
									  </div>
									</div>

					</ul>
					</div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
				
	<section class="contentwrap">
		<div class="center">
						
					
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							  <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
								  <h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									  &uumlbung #1
									</a>
								  </h4>
								</div>
								
								
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								  <div class="panel-body">
									  
									<img class="left rande breite abstand" id="uebung_gif" src="#">
									<div class="left breite abstand">
										<table class="table1">
										<tr><th>Ben&oumltigtes Equipment: </th></tr>
										<tr><td>Lang- oder Kurzhantel<td></tr>
										<tr><th>Schwierigkeitsgrad: </th></tr>
										<tr><td>hoch<td></tr>
										<tr><th>Zielmuskeln: </th></tr>
										<tr><td>Vierk&oumlpfiger Oberschenkelmuskel, Beinbizeps und gro&szliger Ges&auml&szligmuskel<td></tr>
										<tr><th>Unterst&uumltzende Muskulatur: </th></tr>
										<tr><td>R&uumlckenstrecker und Dreik&oumlpfiger Adduktor<td></tr>
										<tr><th>Weitere Bezeichnungen: </th></tr>
										<tr><td>Back Squats, Squats, Kniebeuge<td></tr>
										</table>
										
									</div>
												
										<!--<button type="button" class="btn btn-default btn-lg btn-block">Hinzuf&uumlgen</button>-->
											<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal_arme1">
												Hinzuf&uumlgen
											</button>

										<!-- Modal -->
											<div class="modal fade" id="myModal_arme1" tabindex="-1" role="dialog" aria-labelledby="myModal_arme1Label" aria-hidden="true">
											  <div class="modal-dialog">
												<div class="modal-content">
												  <div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													<h4 class="modal-title" id="myModal1Label">Gib den Plan und die gew&uumlnschte Anzahl von S&aumltzen ein:</h4>
												  </div>
												  <div class="modal-body clearfix">
													<form>
														<input class="left rande abstand abstand_innen breite" id="arme_pn_u1" type="text" placeholder="Planname">
														
														  <select class="left abstand_innen1 rande breite1 abstand">
															<option>Montag</option>
															<option>Dienstag</option>
															<option>Mittwoch</option>
															<option>Donnerstag</option>
															<option>Freitag</option>
															<option>Samstag</option>
															<option>Sonntag</option>
														  </select>
														<input class="left rande abstand abstand_innen breite1" id="arme_s_u1" type="number" min="1" placeholder="S&aumltze">
													</form>
												 </div>
												  <div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary">Save</button>
												  </div>
												</div>
											  </div>
											</div>
								</div>
										
								</div>
							  </div>
							  <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
								  <h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									  &uumlbung #2
									</a>
								  </h4>
								</div>
								
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
									  
										<img class="left rande breite abstand" id="uebung_gif" src="#">
										<div class="left breite abstand">
											<table class="table1">
											<tr><th>Ben&oumltigtes Equipment: </th></tr>
											<tr><td>Lang- oder Kurzhantel<td></tr>
											<tr><th>Schwierigkeitsgrad: </th></tr>
											<tr><td>hoch<td></tr>
											<tr><th>Zielmuskeln: </th></tr>
											<tr><td>Vierk&oumlpfiger Oberschenkelmuskel, Beinbizeps und gro&szliger Ges&auml&szligmuskel<td></tr>
											<tr><th>Unterst&uumltzende Muskulatur: </th></tr>
											<tr><td>R&uumlckenstrecker und Dreik&oumlpfiger Adduktor<td></tr>
											<tr><th>Weitere Bezeichnungen: </th></tr>
											<tr><td>Back Squats, Squats, Kniebeuge<td></tr>
											</table>
											
										</div>
									
										<!--<button type="button" class="btn btn-default btn-lg btn-block">Hinzuf&uumlgen</button>-->
											<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal_arme2">
												Hinzuf&uumlgen
											</button>

										<!-- Modal -->
										<div class="modal fade" id="myModal_arme2" tabindex="-1" role="dialog" aria-labelledby="myModal_arme2Label" aria-hidden="true">
										  <div class="modal-dialog">
											<div class="modal-content">
											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="myModalLabel">Geben Sie die gew&uumlnschte Anzahl von S&aumltzen ein: </h4>
											  </div>
											  <div class="modal-body clearfix">
													<input class="left rande abstand abstand_innen breite" id="arme_pn_u2" type="text" placeholder="Planname">
													<input class="left rande abstand abstand_innen breite" id="arme_s_u2" type="number" min="1" placeholder="S&aumltze">
											  </div>
											  <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-primary">Save</button>
											  </div>
											</div>
										  </div>
										</div>
									</div>
								</div>
							  </div>
							  
							  <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingThree">
								  <h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									  &uumlbung #3
									</a>
								  </h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								  <div class="panel-body">
									<img class="left rande breite abstand" id="uebung_gif" src="#">
									<div class="left breite abstand">
										<table class="table1">
										<tr><th>Ben&oumltigtes Equipment: </th></tr>
										<tr><td>Lang- oder Kurzhantel<td></tr>
										<tr><th>Schwierigkeitsgrad: </th></tr>
										<tr><td>hoch<td></tr>
										<tr><th>Zielmuskeln: </th></tr>
										<tr><td>Vierk&oumlpfiger Oberschenkelmuskel, Beinbizeps und gro&szliger Ges&auml&szligmuskel<td></tr>
										<tr><th>Unterst&uumltzende Muskulatur: </th></tr>
										<tr><td>R&uumlckenstrecker und Dreik&oumlpfiger Adduktor<td></tr>
										<tr><th>Weitere Bezeichnungen: </th></tr>
										<tr><td>Back Squats, Squats, Kniebeuge<td></tr>
										</table>
										
									</div>
									
										<!--<button type="button" class="btn btn-default btn-lg btn-block">Hinzuf&uumlgen</button>-->
											<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal_arme3">
												Hinzuf&uumlgen
											</button>

										<!-- Modal -->
										<div class="modal fade" id="myModal_arme3" tabindex="-1" role="dialog" aria-labelledby="myModal_arme3Label" aria-hidden="true">
										  <div class="modal-dialog">
											<div class="modal-content">
											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="myModalLabel">Geben Sie die gew&uumlnschte Anzahl von S&aumltzen ein: </h4>
											  </div>
											  <div class="modal-body clearfix">
											  <form>
													<input class="left rande abstand abstand_innen breite" id="arme_pn_u3" type="text" placeholder="Planname">
													
														  <select class="left abstand_innen1 rande breite1 abstand">
															<option>Montag</option>
															<option>Dienstag</option>
															<option>Mittwoch</option>
															<option>Donnerstag</option>
															<option>Freitag</option>
															<option>Samstag</option>
															<option>Sonntag</option>
														  </select>
													<input class="left rande abstand abstand_innen breite1" id="arme_s_u3" type="number" min="1" placeholder="S&aumltze">
											  </form>
											  </div>
											  <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-primary">Save</button>
											  </div>
											</div>
										  </div>
										</div>
								  </div>
								</div>
							  </div>
							</div>
					
				</div>
			</section>	
		<footer class="rande">
				<div class="fcenter">
				&#169 2014 ALINA&GINTARE
				</div>
		</footer>
	}