@(loginForm: Form[models.User])


@import helper._
@import helper.twitterBootstrap._



@main("@Gym"){


												
<div class="display">
										
			<header class="rahmen">
				<img id="logo" src="@routes.Assets.at("images/header.jpg")">
			</header>
			
			<section class="rahmen contentwrapLog">
				<div class=" centerLog">
					<div class="clearfix">
						<div class="left lseite min">
							
							<img id="bild" class="min" src="@routes.Assets.at("images/Picture1.png")">
						</div>
						
						<div class="left rseite">
							<div class="tabs rahmen">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
								   <li role="presentation" class="schrift active" ><a href="#home" role="tab" data-toggle="tab">Anmelden</a></li>
								  <li role="presentation"><a class="schrift " href="#profile" role="tab" data-toggle="tab">Registrieren</a></li>
								  
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
								  <div role="tabpanel" class="tab-pane active" id="home">
										<div class="log ">	

										
											@form(routes.Application.home1(),'class -> "form-horizontal", 'id -> "loginForm") {
												<div class=" form-group @if(loginForm("email").hasErrors || loginForm("passwort").hasErrors){has-error}">
													
														<input type="email" class="rahmen log_eingabe"
															   name="@loginForm("email").name"
															   placeholder="e-mail" >
														<span class="help-block">@{loginForm("email").error.map { error => error.message }}</span>
														<input type="password" class="rahmen log_eingabe"
															   name="@loginForm("password").name"
															   placeholder="Passwort">
														<span class="help-block">@{loginForm("password").error.map { error => error.message }}</span>
													
												</div>
												<button type="submit" class="bt rahmen buttonLog3" >Einloggen</button>
												
											}
											
				
										</div>			
								  </div>
								  <div role="tabpanel" class="tab-pane " id="profile">
										<div class="log "> 
				@form(routes.Application.home1(),'class -> "form-horizontal", 'id -> "loginForm") {
												<div class=" form-group @if(loginForm("vorname").hasErrors || loginForm("nachname").hasErrors || loginForm("email").hasErrors || loginForm("passwort").hasErrors || loginForm("groesse").hasErrors || loginForm("gewicht").hasErrors || loginForm("geschlecht").hasErrors){has-error}">
													
														<input type="email" class="rahmen log_eingabe"
															   name="@loginForm("email").name"
															   placeholder="E-mail" >
														<span class="help-block">@{loginForm("email").error.map { error => error.message }}</span>
														<input type="password" class="rahmen log_eingabe"
															   name="@loginForm("password").name"
															   placeholder="Passwort">
														<span class="help-block">@{loginForm("password").error.map { error => error.message }}</span>
													<input type="text" class="rahmen log_eingabe"
															   name="@loginForm("vorname").name"
															   placeholder="Vorname">
														<span class="help-block">@{loginForm("vorname").error.map { error => error.message }}</span>
													<input type="text" class="rahmen log_eingabe"
															   name="@loginForm("nachname").name"
															   placeholder="Nachname">
														<span class="help-block">@{loginForm("nachname").error.map { error => error.message }}</span>
													<input type="number" class="rahmen log_eingabe"
															   name="@loginForm("groesse").name"
															   placeholder="Koerpergroesse (cm)" min="100" max="320>
														<span class="help-block">@{loginForm("groesse").error.map { error => error.message }}</span>
													<!--<input type="number" class="rahmen log_eingabe"
															   name="@loginForm("gewicht").name"
															   placeholder="gewicht" min="0">
														<span class="help-block">@{loginForm("gewicht").error.map { error => error.message }}</span>-->
													<p id="wm"><input type="radio" value="weiblich" name="@loginForm("geschlecht").name"> Weiblich   <input type="radio" value="maennlich" name="@loginForm("geschlecht").name"> Männlich</p>
													
														<span class="help-block">@{loginForm("geschlecht").error.map { error => error.message }}</span>
													
												</div>
												<button type="submit" class="bt rahmen buttonLog3" >Registrieren</button>
												
											}
										
										</div>
								  </div>
								 
								</div>
							</div>
						</div>
					
					</div>
				</div>	
			</section>
			<footer class="rande">
				<div class="fcenter">
				&#169 2014 ALINA&GINTARE
				</div>
			</footer>
		</div>


}