@(user: models.User, vorname : String, geschlecht : String, loeschen: Form[models.uebungLoeschen])
@import helper._
@import helper.twitterBootstrap._
@main("myGym"){
		<div class="wrapper rande">
		
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      	<ul class="nav navbar-nav">
			<li class="active"><a href="">MY GYM</a></li>
			
		  </ul>
 
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/atGym">Abmelden</a></li>
      </ul>
	  
		<ul class="nav navbar-nav navbar-right">
						<li><a href="" data-toggle="modal" data-target="#myModal_list">Deinen Übungen</a></li>
													<!-- Modal -->
									<div class="modal fade" id="myModal_list" tabindex="-1" role="dialog" aria-labelledby="myModal_listLabel" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close " data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only ">Close</span></button>
							<h4 class="modal-title" id="myModalLabel">Deine Pläne</h4>
						  </div>
						  <div class="modal-body scroll">
							<table class="table">
								<tr><th>Plan</th><th>Tag</th><th>Übung</th><th>S&aumltze</th><th></th></tr>
								@if(user.getPlans().isEmpty() == false ){
								@for(p <- user.getPlans().values()) {
									@for(t <- p.getUebungen.keySet()){
										@for(u <- p.getUebungen().get(t).getUebungen()){
										<tr><td>@p.getName()</td><td>@p.getUebungen().get(t).getTag()</td><td>@u.getUebung().getName()</td><td>@u.getWh()</td>
										
										 <td>									
										@form(routes.Application.uebungLoeschen(),'class -> "form-horizontal", 'id -> "loeschen") {
										  
										   <div style="display:none;" class=" form-group @if(loeschen("plan").hasErrors || loeschen("uebung").hasErrors || loeschen("tag").hasErrors){has-error}">
											<input style="display:none;" name="@loeschen("plan").name" value="@p.getId()" >
											<input style="display:none;" name="@loeschen("uebung").name" value="@u.getUebung().getId()" >
											<input style="display:none;" name="@loeschen("tag").name" value="@p.getUebungen().get(t).getTag()" >
											</div>
												
												<button type="submit" class="close">löschen</button>
																			
											}
											</td></tr>
										}
									}
									
									
									} 
								} else {
								<tr><td>Du hast keine Pläne</td><td></td><td></td><td></td><td></td></tr>
								}
								
							</table>
						  </div>
						 <div class="modal-footer"></div>
						</div>
					  </div>
					</div>

		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/aboutMe">@user.getVorname()</a></li>
		  </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

		<section class="contentwrap">
	
			
			<div class="clearfix">
				
			
				<div class="center">
				<nav >
					<a title="Info &uumlber dich" 
					href="/aboutMe">
					<img class="bild_button rande left breite abstand2 abstand1" id="about_me" src="@routes.Assets.at("images/about_me.jpg")"></a>
					
					<a title="Deine Pl&aumlne" 
					href="/myPlans">
					<img class="bild_button rande left breite abstand2" id="plans" src="@routes.Assets.at("images/plans.jpg")"></a>	
					
					<a title="Statistische Analyse" 
					href="/myAnalyse">
					<img class="bild_button rande left breite abstand2 abstand1" id="analyse" src="@routes.Assets.at("images/analyse.jpg")"></a>
					
					<a title="Es ist Zeit zum Trainieren!" 
					href="/myRoutine">
					<img class="bild_button rande left breite abstand2" id="routine" src="@routes.Assets.at("images/routine.jpg")"></a>
				</nav>
				
				</div>
				
				</div>
			</section>
			<footer class="rande">
				<div class="fcenter">
				&#169 2014 ALINA&GINTARE
				</div>
			</footer>
		</div>	
}