@(user: models.User, loeschen: Form[models.uebungLoeschen], loeschenPlan: Form[models.PlanLoeschen])
@import helper._
@import helper.twitterBootstrap._
@main("my Plans"){
	<div class="wrapper rande">
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/home">Home</a>
					</div>

				 <!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/myGym">MY GYM</a></li>
						  </ul>
						  
						  <ul class="nav navbar-nav">
							<li class="active"><a>MY PLANS</a></li>
						  </ul>
				 
					  <ul class="nav navbar-nav navbar-right">
						<li><a href="/atGym">Abmelden</a></li>
					  </ul>
					  <ul class="nav navbar-nav navbar-right">
						<li><a href="#" data-toggle="modal" data-target="#myModal_list">Deinen Übungen</a></li>
													<!-- Modal -->
									<div class="modal fade" id="myModal_list" tabindex="-1" role="dialog" aria-labelledby="myModal_listLabel" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close " data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only ">Close</span></button>
							<h4 class="modal-title" id="myModalLabel">Deine Pläne</h4>
						  </div>
						  <div class="modal-body scroll">
							<table class="table">
								<tr><th>Plan</th><th>Tag</th><th>Übung</th><th>S&aumltze</th><th></th></tr>
								@if(user.getPlans().isEmpty() == false ){
								@for(p <- user.getPlans().values()) {
									@for(t <- p.getUebungen.keySet()){
										@for(u <- p.getUebungen().get(t).getUebungen()){
										<tr><td>@p.getName()</td><td>@p.getUebungen().get(t).getTag()</td><td>@u.getUebung().getName()</td><td>@u.getWh()</td>
										
										 <td>									
										@form(routes.Application.uebungLoeschen(),'class -> "form-horizontal", 'id -> "loeschen") {
										  
										   <div style="display:none;" class=" form-group @if(loeschen("plan").hasErrors || loeschen("uebung").hasErrors || loeschen("tag").hasErrors){has-error}">
											<input style="display:none;" name="@loeschen("plan").name" value="@p.getId()" >
											<input style="display:none;" name="@loeschen("uebung").name" value="@u.getUebung().getId()" >
											<input style="display:none;" name="@loeschen("tag").name" value="@p.getUebungen().get(t).getTag()" >
											</div>
												
												<button type="submit" class="close">löschen</button>
																			
											}
											</td></tr>
										}
									}
									
									
									} 
								} else {
								<tr><td>Du hast keine Pläne</td><td></td><td></td><td></td><td></td></tr>
								}
								
							</table>
						  </div>
						 <div class="modal-footer"></div>
						</div>
					  </div>
					</div>

		</ul>
					  <ul class="nav navbar-nav navbar-right">
			<li><a href="/aboutMe">@user.getVorname()</a></li>
		  </ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
				
		<section class="contentwrap">
			<div class="center">
			
			@if(user.getPlans().isEmpty() == false){
			
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					@for(p <- user.getPlans().values()) {
	
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne@p.getId()">
							<h4 class="panel-title">
							<div class="clearfix">
								<a class="left" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@p.getId()" aria-expanded="false" aria-controls="collapseOne_@p.getId()">
								@p.getName() <span class=" transparent" >#@p.getId()</span>
								</a>
								@form(routes.Application.planLoeschen(),'class -> "form-horizontal", 'id -> "loeschenPlan") {
										  
										  
											 <span><input  style="display:none;" class="left breite1" name="@loeschenPlan("plan").name" value="@p.getId()" ></span>
											
											
												<button type="submit" class="float_r close button2">löschen</button>
											}
							</div>
							</h4>
						</div>
						
								
						
						<div id="collapseOne_@p.getId()" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne@p.getId()">
						<div class="panel-body">
						
							
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
								  <li role="presentation" class="schrift active" ><a href="#montag@p.getId()" role="tab" data-toggle="tab">Montag</a></li>
								  
								  <li role="presentation"><a class="schrift" href="#dienstag@p.getId()" role="tab" data-toggle="tab">Dienstag</a></li>
								  
								  <li role="presentation" class="schrift" ><a href="#mittwoch@p.getId()" role="tab" data-toggle="tab">Mittwoch</a></li>
								  
								  <li role="presentation"><a class="schrift" href="#donnerstag@p.getId()" role="tab" data-toggle="tab">Donnerstag</a></li>
								  
								  <li role="presentation" class="schrift" ><a href="#freitag@p.getId()" role="tab" data-toggle="tab">Freitag</a></li>
								  
								  <li role="presentation"><a class="schrift" href="#samstag@p.getId()" role="tab" data-toggle="tab">Samstag</a></li>
								  
								  <li role="presentation"><a class="schrift" href="#sonntag@p.getId()" role="tab" data-toggle="tab">Sonntag</a></li>
								  
								</ul> 

								<!-- Tab panes -->
								<div class="tab-content">
								@for(t <- p.getUebungen().values()){	
									
										@if(p.getUebungen().containsKey(Tag.Montag) == true){
											@if(t.getTag().equals("Montag")){
											<div role="tabpanel" class="tab-pane active" id="montag@p.getId()">										
													<div >  
												@for(u <- t.getUebungen()){
												<div class="rande abstand4 abstand3 clearfix">
														<img class="left rande breite abstand" id="uebung_gif" src=@u.getUebung.getBild()>
														<div class="left breite abstand">
															<table class="table1">
																<tr><th>Name: </th></tr>
																<tr><td>@u.getUebung.getName()<td></tr>
																<tr><th>Sätze: </th></tr>
																<tr><td>@u.getWh()<td></tr>
																<tr><th>Ben&oumltigtes Equipment: </th></tr>
																<tr><td>@u.getUebung.getEquipment()<td></tr>
																<tr><th>Schwierigkeitsgrad: </th></tr>
																<tr><td>@u.getUebung.getGrad()<td></tr>
																<tr><th>Zielmuskeln: </th></tr>
																<tr><td>@u.getUebung.getMuskel1()<td></tr>
																<tr><th>Unterst&uumltzende Muskulatur: </th></tr>
																<tr><td>@u.getUebung.getMuskel2()<td></tr>
																
															</table>
														</div>
														</div>
														}
												
											</div>	
										</div>
											}
									}else{
										<div role="tabpanel" class="tab-pane active" id="montag@p.getId()">	</div>
									} 
									@if(p.getUebungen().containsKey(Tag.Dienstag) == true){
										@if(t.getTag().equals("Dienstag")){
										
										<div role="tabpanel" class="tab-pane" id="dienstag@p.getId()">
										<div > 
											@for(u <- t.getUebungen()){	
												<div class="rande abstand4 abstand3 clearfix">											
												<img class="left rande breite abstand" id="uebung_gif" src=@u.getUebung().getBild()>
												<div class="left breite abstand">
													<table class="table1">
														<tr><th>Name: </th></tr>
														<tr><td>@u.getUebung().getName()<td></tr>
														<tr><th>Sätze: </th></tr>
														<tr><td>@u.getWh()<td></tr>
														<tr><th>Ben&oumltigtes Equipment: </th></tr>
														<tr><td>@u.getUebung().getEquipment()<td></tr>
														<tr><th>Schwierigkeitsgrad: </th></tr>
														<tr><td>@u.getUebung().getGrad()<td></tr>
														<tr><th>Zielmuskeln: </th></tr>
														<tr><td>@u.getUebung().getMuskel1()<td></tr>
														<tr><th>Unterst&uumltzende Muskulatur: </th></tr>
														<tr><td>@u.getUebung().getMuskel2()<td></tr>
														
													</table>
												</div>
												</div>
												}
										
											
											</div>	
										</div>
										} 
										} else{
										<div role="tabpanel" class="tab-pane active" id="dienstag@p.getId()">	</div>
									} 
										
										
										
										
										@if(p.getUebungen().containsKey(Tag.Mittwoch) == true){	
											@if(t.getTag().equals("Mittwoch")){
											<div role="tabpanel" class="tab-pane" id="mittwoch@p.getId()">
										
											<div >  
											@for(u <- t.getUebungen()){
												<div class="rande abstand4 abstand3 clearfix">
												<img class="left rande breite abstand" id="uebung_gif" src=@u.getUebung().getBild()>
												<div class="left breite abstand">
													<table class="table1">
														<tr><th>Name: </th></tr>
														<tr><td>@u.getUebung().getName()<td></tr>
														<tr><th>Sätze: </th></tr>
														<tr><td>@u.getWh()<td></tr>
														<tr><th>Ben&oumltigtes Equipment: </th></tr>
														<tr><td>@u.getUebung().getEquipment()<td></tr>
														<tr><th>Schwierigkeitsgrad: </th></tr>
														<tr><td>@u.getUebung().getGrad()<td></tr>
														<tr><th>Zielmuskeln: </th></tr>
														<tr><td>@u.getUebung().getMuskel1()<td></tr>
														<tr><th>Unterst&uumltzende Muskulatur: </th></tr>
														<tr><td>@u.getUebung().getMuskel2()<td></tr>
														
													</table>
												</div>
												</div>
												
											}
										
											</div>	
										</div>
										}
										} else{
										<div role="tabpanel" class="tab-pane active" id="mittwoch@p.getId()">	</div>
									} 
										
										@if(p.getUebungen().containsKey(Tag.Donnerstag) == true){								
											@if(t.getTag().equals("Donnerstag")){
											<div role="tabpanel" class="tab-pane" id="donnerstag@p.getId()">
										
											<div > 
											@for(u <- t.getUebungen()){
											<div class="rande abstand4 abstand3 clearfix">
												<img class="left rande breite abstand" id="uebung_gif" src=@u.getUebung().getBild()>
												<div class="left breite abstand">
													<table class="table1">
														<tr><th>Name: </th></tr>
														<tr><td>@u.getUebung().getName()<td></tr>
														<tr><th>Sätze: </th></tr>
														<tr><td>@u.getWh()<td></tr>
														<tr><th>Ben&oumltigtes Equipment: </th></tr>
														<tr><td>@u.getUebung().getEquipment()<td></tr>
														<tr><th>Schwierigkeitsgrad: </th></tr>
														<tr><td>@u.getUebung().getGrad()<td></tr>
														<tr><th>Zielmuskeln: </th></tr>
														<tr><td>@u.getUebung().getMuskel1()<td></tr>
														<tr><th>Unterst&uumltzende Muskulatur: </th></tr>
														<tr><td>@u.getUebung().getMuskel2()<td></tr>
														
													</table>
												</div>
												</div>
												}
										
											
											</div>	
										</div>
										}
										} else{
										<div role="tabpanel" class="tab-pane active" id="donnerstag@p.getId()">	</div>
									} 
										
										@if(p.getUebungen().containsKey(Tag.Freitag) == true){		
											@if(t.getTag().equals("Freitag")){
											<div role="tabpanel" class="tab-pane" id="freitag@p.getId()">
										
											<div>  
												@for(u <- t.getUebungen()){
												<div class="rande abstand4 abstand3 clearfix">
												<img class="left rande breite abstand" id="uebung_gif" src=@u.getUebung().getBild()>
												<div class="left breite abstand">
													<table class="table1">
														<tr><th>Name: </th></tr>
														<tr><td>@u.getUebung().getName()<td></tr>
														<tr><th>Sätze: </th></tr>
														<tr><td>@u.getWh()td></tr>
														<tr><th>Ben&oumltigtes Equipment: </th></tr>
														<tr><td>@u.getUebung().getEquipment()<td></tr>
														<tr><th>Schwierigkeitsgrad: </th></tr>
														<tr><td>@u.getUebung().getGrad()<td></tr>
														<tr><th>Zielmuskeln: </th></tr>
														<tr><td>@u.getUebung().getMuskel1()<td></tr>
														<tr><th>Unterst&uumltzende Muskulatur: </th></tr>
														<tr><td>@u.getUebung().getMuskel2()<td></tr>
														
													</table>
												</div>
												</div>
											}
										
											</div>	
										</div>
										}
										} else{
										<div role="tabpanel" class="tab-pane active" id="freitag@p.getId()"></div>
									} 
											
										
									@if(p.getUebungen().containsKey(Tag.Samstag) == true){												
										@if(t.getTag().equals("Samsatg")){
										<div role="tabpanel" class="tab-pane" id="samstag@p.getId()">
										
											<div> 
											@for(u <- t.getUebungen()){
												<div class="rande abstand4 abstand3 clearfix">
												<img class="left rande breite abstand" id="uebung_gif" src=@u.getUebung().getBild()>
												<div class="left breite abstand">
													<table class="table1">
														<tr><th>Name: </th></tr>
														<tr><td>@u.getUebung().getName()<td></tr>
														<tr><th>Sätze: </th></tr>
														<tr><td>@u.getWh()<td></tr>
														<tr><th>Ben&oumltigtes Equipment: </th></tr>
														<tr><td>@u.getUebung().getEquipment()<td></tr>
														<tr><th>Schwierigkeitsgrad: </th></tr>
														<tr><td>@u.getUebung().getGrad()<td></tr>
														<tr><th>Zielmuskeln: </th></tr>
														<tr><td>@u.getUebung().getMuskel1()<td></tr>
														<tr><th>Unterst&uumltzende Muskulatur: </th></tr>
														<tr><td>@u.getUebung().getMuskel2()<td></tr>
														
													</table>
												</div>
												
											</div>
											}
										
											</div>	
										</div>
										}
										} else{
										<div role="tabpanel" class="tab-pane active" id="samstag@p.getId()">	</div>
									} 
										
									@if(p.getUebungen().containsKey(Tag.Sonntag) == true){		
										@if(t.getTag().equals("Sonntag")){
										<div role="tabpanel" class="tab-pane " id="sonntag@p.getId()">
										
											<div > 
													@for(u <- t.getUebungen()){
												
												<div class="rande abstand4 abstand3 clearfix">
												<img class="left rande breite abstand" id="uebung_gif" src=@u.getUebung().getBild()>
												<div class="left breite abstand">
													<table class="table1">
														<tr><th>Name: </th></tr>
														<tr><td>@u.getUebung().getName()<td></tr>
														<tr><th>Sätze: </th></tr>
														<tr><td>@u.getWh()<td></tr>
														<tr><th>Ben&oumltigtes Equipment: </th></tr>
														<tr><td>@u.getUebung().getEquipment()<td></tr>
														<tr><th>Schwierigkeitsgrad: </th></tr>
														<tr><td>@u.getUebung().getGrad()<td></tr>
														<tr><th>Zielmuskeln: </th></tr>
														<tr><td>@u.getUebung().getMuskel1()<td></tr>
														<tr><th>Unterst&uumltzende Muskulatur: </th></tr>
														<tr><td>@u.getUebung().getMuskel2()<td></tr>
														
													</table>
												</div>
												</div>
													}
													
											</div>	
										</div>
									}
									} else{
										<div role="tabpanel" class="tab-pane active" id="sonntag@p.getId()">	</div>
									} 
									
									}
								 </div> 
							</div> 
						</div>
					</div>
						} 
				</div>		
				} else {
					Du hast keine Pläne
				}
				
				
			
				
				
			</div>
		</section>
		
		<footer class="rande">
				<div class="fcenter">
				&#169 2014 ALINA&GINTARE
				</div>
		</footer>
	</div>
}