@(user: models.User, vorname: String, loeschen: Form[models.uebungLoeschen])
@import helper._
@import helper.twitterBootstrap._
@main("Our Gym"){
				<div class="wrapper">
				<nav class="navbar navbar-inverse" role="navigation">
				  <div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					  <a class="navbar-brand" href="/home">Home</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
						<li class="active"><a href="#">Alle Kategorien</a></li>
						
					  </ul>
						
						
					  <ul class="nav navbar-nav navbar-right">
						<li><a href="/atGym">Abmelden</a></li>
					  </ul>
					  
					  <ul class="nav navbar-nav navbar-right">
	<ul class="nav navbar-nav navbar-right">
						<li><a href="#" data-toggle="modal" data-target="#myModal_list">Deinen Übungen</a></li>
													<!-- Modal -->
									<div class="modal fade" id="myModal_list" tabindex="-1" role="dialog" aria-labelledby="myModal_listLabel" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close " data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only ">Close</span></button>
							<h4 class="modal-title" id="myModalLabel">Deine Pläne</h4>
						  </div>
						  <div class="modal-body scroll">
							<table class="table">
								<tr><th>Plan</th><th>Tag</th><th>Übung</th><th>S&aumltze</th><th></th></tr>
								@if(user.getPlans().isEmpty() == false ){
								@for(p <- user.getPlans().values()) {
									@for(t <- p.getUebungen.keySet()){
										@for(u <- p.getUebungen().get(t).getUebungen()){
										<tr><td>@p.getName()</td><td>@p.getUebungen().get(t).getTag()</td><td>@u.getUebung().getName()</td><td>@u.getWh()</td>
										
										 <td>									
										@form(routes.Application.uebungLoeschen(),'class -> "form-horizontal", 'id -> "loeschen") {
										  
										   <div style="display:none;" class=" form-group @if(loeschen("plan").hasErrors || loeschen("uebung").hasErrors || loeschen("tag").hasErrors){has-error}">
											<input style="display:none;" name="@loeschen("plan").name" value="@p.getId()" >
											<input style="display:none;" name="@loeschen("uebung").name" value="@u.getUebung().getId()" >
											<input style="display:none;" name="@loeschen("tag").name" value="@p.getUebungen().get(t).getTag()" >
											</div>
												
												<button type="submit" class=" close ">löschen</button>
																			
											}
											</td></tr>
										}
									}
									
									
									} 
								} else {
								<tr><td>Du hast keine Pläne</td><td></td><td></td><td></td><td></td></tr>
								}
								
							</table>
						  </div>
						 <div class="modal-footer"></div>
						</div>
					  </div>
					</div>

		</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/aboutMe">@vorname</a></li>
					</ul>
					</div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>

						<div class="contentwrap">			
							<div class="center">
								<div class="lead">	
									Schaue und w&aumlhle &Uumlbungen aus
								</div>
								
								<div class="clearfix">
											
									<div id="uebung_auswahl">
										<a  title="Sehe alle Bauchuebungen an!" href="/bauch"><img class="rande bild_button left abstand" id="uebung" src="@routes.Assets.at("images/bauchText.jpg")"></a>
										<a  title="Sehe alle Brustuebungen an!" href="/brust"><img class="rande bild_button left abstand" id="uebung" src="@routes.Assets.at("images/brustText.jpg")"></a>
										<a  title="Sehe alle Armeuebungen an!" href="/arme"><img class="rande bild_button left abstand" id="uebung" src="@routes.Assets.at("images/armeText.jpg")"></a>
										<a  title="Sehe alle Rueckenuebungen an!" href="/ruecken"><img class="rande bild_button left abstand" id="uebung" src="@routes.Assets.at("images/rueckenText.jpg")"></a>
										<a  title="Sehe alle Schulternuebungen an!" href="/schultern"><img class="rande bild_button left abstand" id="uebung" src="@routes.Assets.at("images/schulternText.jpg")"></a>
										<a  title="Sehe alle Beinenuebungen an!" href="/beine" ><img class="rande bild_button left abstand" id="uebung" src="@routes.Assets.at("images/beineText.jpg")"></a>
										<!--<a  title="Sehe VIP-Plaene an!" href="/vipPlaene"><img class="rande bild_button left abstand" id="uebung_gross" src="@routes.Assets.at("images/group-fitness.jpg")"></a>-->
										<!-- <a  title="Sehe Plaene-Vorschlaege an!" href="/fertigePlaene"><img class="rande bild_button left abstand" id="uebung_gross" src="@routes.Assets.at("images/sport.jpg")"></a>-->
									</div>
								</div>

							</div>	
						</div>
					<footer class="rande">
				<div class="fcenter">
				&#169 2014 ALINA&GINTARE
				</div>
				</footer>
			</div>
}