@(user: models.User, ruecken : SortedMap[Integer, models.Uebung], uebungForm: Form[models.Auswaehlen], loeschen: Form[models.uebungLoeschen], likes: Form[models.Like])
@import helper._
@import helper.twitterBootstrap._
@main("Ruecken"){

<script type="text/javascript" src=@routes.Assets.at("javascripts/jquery-1.11.1.js")></script>
<script>

		
		 var webSocket;
		 $(function() {
		 var WS = window["MozWebSocket"] ? MozWebSocket : WebSocket;
		 webSocket = new WS("@routes.Application.uebungWebSocket().webSocketURL(request)");
		 webSocket.onmessage = receiveEvent;
		 })
		 
		function sendLike(uebung){
		var uebungid = uebung;
			
			var JsonString = {
					uebung:uebungid,
					};
					var JsonObj = JSON.stringify (JsonString);
					webSocket.send(JsonObj);
		};
			
		
		function receiveEvent(event) {
		var obj = JSON.parse(event.data);
		 $("#likes"+obj.uebung).html(obj.likes);
		// $("#"+ersetzen).html(event.data);
		 };

	</script>
		<div class="wrapper">
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alle Kategorien <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/arme">Arme</a></li>
            <li><a href="/bauch">Bauch</a></li>
            <li><a href="/beine">Beine</a></li>
			<li><a href="/brust">Brust</a></li>
			<li><a href="/schultern">Schultern</a></li>
            
			<li class="divider"></li>
            <li><a href="/ourGym">Alle Kategorien</a></li>
           
          </ul>
        </li>
		<li><a href="#">R&uumlcken</a></li>
      </ul>
 
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/atGym">Abmelden</a></li>
      </ul>
	  
	    <ul class="nav navbar-nav navbar-right">
						<li><a href="#" data-toggle="modal" data-target="#myModal_list">Deinen Übungen</a></li>
													<!-- Modal -->
									<div class="modal fade" id="myModal_list" tabindex="-1" role="dialog" aria-labelledby="myModal_listLabel" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close " data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only ">Close</span></button>
							<h4 class="modal-title" id="myModalLabel">Deine Pläne</h4>
						  </div>
						  <div class="modal-body scroll">
							<table class="table">
								<tr><th>Plan</th><th>Tag</th><th>Übung</th><th>S&aumltze</th><th></th></tr>
								@if(user.getPlans().isEmpty() == false ){
								@for(p <- user.getPlans().values()) {
									@for(t <- p.getUebungen.keySet()){
										@for(u <- p.getUebungen().get(t).getUebungen()){
										<tr><td>@p.getName()</td><td>@p.getUebungen().get(t).getTag()</td><td>@u.getUebung().getName()</td><td>@u.getWh()</td>
										
										 <td>									
										@form(routes.Application.uebungLoeschen(),'class -> "form-horizontal", 'id -> "loeschen") {
										  
										   <div style="display:none;" class=" form-group @if(loeschen("plan").hasErrors || loeschen("uebung").hasErrors || loeschen("tag").hasErrors){has-error}">
											<input style="display:none;" name="@loeschen("plan").name" value="@p.getId()" >
											<input style="display:none;" name="@loeschen("uebung").name" value="@u.getUebung().getId()" >
											<input style="display:none;" name="@loeschen("tag").name" value="@p.getUebungen().get(t).getTag()" >
											</div>
												
												<button type="submit" class=" close ">löschen</button>
																			
											}
											</td></tr>
										}
									}
									
									
									} 
								} else {
								<tr><td>Du hast keine Pläne</td><td></td><td></td><td></td><td></td></tr>
								}
								
							</table>
						  </div>
						 <div class="modal-footer"></div>
						</div>
					  </div>
					</div>

		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/aboutMe">@user.getVorname()</a></li>
		  </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
		
				<section class="contentwrap">
				<div class="center">
					
												
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							@if(ruecken.isEmpty()== false){
							@for(b <- ruecken.keySet()){
					
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading@b">
						  <h4 class="panel-title">
							<div class="clearfix">
							<a data-toggle="collapse" class="left breite8" data-parent="#accordion" href="#collapse@b" aria-expanded="false" aria-controls="collapse@b">
							  @ruecken.get(b).getName()<span class=transparent> #@b </span></a>
							  @form(routes.Application.like(),'class -> "form-horizontal", 'id -> "likes") {
							  <input style="display:none;" name="@likes("muskelgruppe").name" value="@ruecken.get(b).getMuskelgruppe()" >
							  <input style="display:none;" name="@likes("id").name" value="@b" >
							  <button type="submit" onclick="sendLike('@b')" class="close button2 left breite9 glyphicon glyphicon-thumbs-up"  aria-hidden="true"><span id="likes@b"> @ruecken.get(b).getLike()</span></button>
							  }
							
							</div>
						  </h4>
						</div>
					
					<div id="collapse@b" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@b">
						  <div class="panel-body">
							  
								<img class="rande left breite abstand uebung_gif" id="" src=@ruecken.get(b).getBild()>
								<div class="left breite abstand">
									<table class="table1">
										<tr><th>Benötigtes Equipment: </th></tr>
										<tr><td>@ruecken.get(b).getEquipment()<td></tr>
										<tr><th>Schwierigkeitsgrad: </th></tr>
										<tr><td>@ruecken.get(b).getGrad()<td></tr>
										<tr><th>Zielmuskeln: </th></tr>
										<tr><td>@ruecken.get(b).getMuskel1()<td></tr>
										<tr><th>Unterstützende Muskulatur: </th></tr>
										<tr><td>@ruecken.get(b).getMuskel2()<td></tr>
										
									</table>
									
								</div>
									
										<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal_@b">
											Hinzufügen
										</button>

									<!-- Modal -->
									<div class="modal fade" id="myModal_@b" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											<h4 class="modal-title" id="myModalLabel">Gib den Plan und die gewünschte Anzahl von Sätzen ein: </h4>
										  </div>
										  <div class="modal-body clearfix">
										   @form(routes.Application.uebungAuswaehlen(),'class -> "form-horizontal", 'id -> "uebungForm") {
										   
										   <div class=" form-group @if(uebungForm("satz").hasErrors || uebungForm("tag").hasErrors || uebungForm("plan").hasErrors){has-error}">
												
												<input style="display:none;" name="@uebungForm("id").name" value="@ruecken.get(b).getId()" >
												<input class="left rande abstand7 abstand abstand_innen breite2" name="@uebungForm("plan").name" type="text" placeholder="Planname">
												
														  <select class="left abstand_innen1 rande breite1 abstand" name="@uebungForm("tag").name">
															<option>Montag</option>
															<option>Dienstag</option>
															<option>Mittwoch</option>
															<option>Donnerstag</option>
															<option>Freitag</option>
															<option>Samstag</option>
															<option>Sonntag</option>
														  </select>
														
													
												<input class="left rande abstand abstand_innen breite1" name="@uebungForm("satz").name" type="number" min="1" placeholder="Sätze">
												</div>
											
										  </div>
										  <div class="modal-footer">
											
											<button type="submit" class="btn btn-primary">Save</button>
											
										  </div>
										  }
										</div>
									  </div>
									</div>
									
							</div>	
						</div>
					  </div>
					
					
				}
				}else{
					<p>Es gibt momentan keine Bauchübungen</p>
				}
							</div>
				</div>
				</section>	
		<footer class="rande">
				<div class="fcenter">
				&#169 2014 ALINA&GINTARE
				</div>
		</footer>
		</div>
}