
body {
	background-image: url(../images/b6.jpg);
	font-size: 0.94em; // oder
    font-size: 94%;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 150%;
}
footer{
	position : relative;
	height : auto;
	padding-top : 3%;
	padding-bottom : 1%;
	padding-left : auto
	padding-right : auto;
	margin-bottom: 1%;
	background-color: black;
	 opacity:.90;
	-moz-opacity:.50; 
	filter:alpha(opacity=5);
 font-size: 94%;
    font-family: Helvetica, Arial, sans-serif;	
}
.display{
	min-width: 23em; /* 300px @ 16px */
	max-width: 80em; /* 700px @ 16px */
	margin: 0em auto;
}
@media (max-width: 35em) {
  
  .min{
  display : none;
  }
.rseite{
	margin-right: 6%;
	margin-bottom : 6%;
	}
  }
  
  
  
@media (min-width: 35em) {
 
  .min{
  display : block;
  }
	

  }
.rahmen{
	moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 10px #888;
	border-radius: 3px;
}
.contentwrapLog {	
	margin-left: auto;
    margin-right: auto;
	height : auto;
	position : relative;
	padding-top : 5%;
	padding-bottom : 0%;
	
	background-color: white;
	
	opacity:.90;
	-moz-opacity:.50; 
	filter:alpha(opacity=5);  
}
.centerLog {
	margin-left: auto;
    margin-right: auto;
	
    width: 80%;
	
}
#logo{
	width:100%;
}
#bild{
	width : 120%;
	
}
.breite7{
	width : 100%;
}
.schrift{
	font-size : 100%;
}
.lseite{
width : 55%;
}

.rseite{
	width : 45%;
	
}

.rseite1{
	width : 35%;
	
}

.tabs{
	margin-top: 15%;
	padding-bottom : 3%;
	min-width: 22em;
}

.log{
	margin: 10%;
	
}

.log_eingabe{
	padding :1%;
	width:100%;
	margin-top: 2%;
}

.buttonLog1{
		background-color: #A9ED26;
		cursor: pointer; 
		color: #000000; 
		width: 32%; 
		padding: 1%; 
		margin-top: 6%;
		
}

.buttonLog2{
		background-color: #A9ED26;
		cursor: pointer; 
		color: #000000; 
		width: 62%; 
		padding: 1%; 
		margin-top: 6%;
		
}
.buttonLog3{
		background-color: #A9ED26;
		cursor: pointer; 
		color: #000000; 
		width: 47%; 
		padding: 1%; 
		margin-top: 3%;
		
}

#abstandr{
	margin-left: 4.5%;
}

#wm{
	margin-left:25%;
}
.bt{
	margin-left : 25%;
}

.wrapper {
	margin-left: auto;
    margin-right: auto;
   min-width: 23em; 
	max-width: 80em; 
}
.fcenter{
	margin-left: auto;
    margin-right: auto;
	width: 100%;
	padding-left: 43%;
}
.center {
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 10%;
    width: 100%;
	
}

#b1{ 
	position:absolute; 
	top: 254px; 
	width:533px; 
	height: 629px;
	}


.header_stand{
	
	padding-top: 0.5%;
	padding-right : 3%;
	height: auto;
	background-image: url(./images/Picture5.png);
	background-size:100% auto;
}
.contentwrap {
	position : relative;
	height : auto;
	padding-top : 10%;
	padding-bottom : 5%;
	padding-left : 15%;
	padding-right : 15%;
	background-color: white;
	 opacity:.90;
	-moz-opacity:.50; 
	filter:alpha(opacity=5);  
}

.rande{
		-moz-box-shadow: 0 0 5px #888;
		-webkit-box-shadow: 0 0 5px#888;
		box-shadow: 0 0 10px #888;
		border-radius: 6px;
}

#spr{
	width : 100%;
	margin-right : 9%;
	margin-top : 5%;
}

#uebung_auswahl{
	margin-top : 5%;
	width :100%;
}



#uebung{
	width:28%; 
}

#uebung_gross{
	width:93%; 
}

.ueberschrift{
	color: #5A5A5A;
	font-size: xx-lage;
   overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 150%;
	
	-webkit-background-clip: text; 
}

#uebung_gif{
	margin-right : 30px;
}

.left{
	float : left;
}
.abstand{
	margin-bottom: 5%;
	margin-right : 5%;	
}

.abstanda{
	margin-bottom: 10%;

}

.breite{
	width : 45%;
}
.breite1{
width:20%;
}
.breite2{
	width:40%;
}
.breite3{
	width: 30%;
	padding: 1%;
}

.scroll{
	height : 25em;
	overflow: scroll;
}

.breite4{
	width: 50%;
}
#mygy{
	margin-right : 10%;
}
.abstand1{
margin-right : 5%;	
}

.abstand2{
	margin-bottom : 5%;
}

.abstand3{
	margin:3%;
}

.abstand4{
	padding-top:5%;
	padding-bottom :1%;
	padding-left:5%
}

.abstand5{
	margin:1%;
}
.abstand6{
	margin-left: 5%;
}

.abstand7{
	margin-left: 3%;
}

.groessee{
	margin-right: 5%;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

#eingabeKasten{
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 3%;
}

@media (min-width: @screen-sm-min){
	.form-control{
		max-width: 20px;
	}
}

#myCanvas{
	border: 5px;
	solid #111111;
	
}
	



.bild_button {
	
    opacity: 0.5;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.button1{
		margin-right : 10%;
		margin-bottom : 10%;
		
}
.button2{
margin:0%;
padding: 0%;
}
.abstand_innen {
		padding: 0.5%;
}
.abstand_innen1 {
		padding-bottom : 0.8%;
		padding-top : 1%;
		
}
.float_r{
float: right;
}

.transparent{
color : rgba(220,160,140,0);
}

.pfeilUp {
		font-size : 30%;
		display:none;
	}
.pfeilDown{
font-size : 80%;
	
}