body {
	background-image: url(./images/b6.jpg);
	font: Calibri, sans-serif; 
}

.wrapper {
	margin-left: auto;
    margin-right: auto;
   
	width : 25cm;
    
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 3px 3px 10px #888;
}

.header_anmelden {
	opacity:.90;
	-moz-opacity:.50; 
	filter:alpha(opacity=5); 
    height: 3.5cm;
	background-size:100% auto;
	background-image: url(./images/Picture3.png);
	padding-bottom : 1.3cm;
	padding-right : 0.5cm;
	
}

.contentwrap {	
	height : auto;
	position : relative;
	height : 100%;
	padding-top : 10%;
	padding-bottom : 0%;
	margin-bottom: 0cm;
	background-color: white;
	
	opacity:.90;
	-moz-opacity:.50; 
	filter:alpha(opacity=5);  
}

#logIn1{
	padding-top : 14%;
	margin-left : 5%;
	float: right;
	
	

}
.log{
	width : 35%;
	border-radius: 5px;
}
#myButton{
border-radius: 5px;
}
#pw_vergessen{
	position : relative;
	top : -0.3cm;
	left : 38%;
	color:#A9ED26;
	text-decoration:none;
}
#daten{
	
	
	moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 10px #888;
	padding-left : 5%; 
	margin-left : 1%;
	
	
	
}

#bild{
	
	
	padding-left : 12%;	
	width:150%; 
	
	
}


.eingabe {
		-moz-box-shadow: 0 0 5px #888;
		-webkit-box-shadow: 0 0 5px#888;
		box-shadow: 0 0 10px #888;
		width: 80%;
		padding: 2%;
		border-radius: 7px;
}

#wm{
	font-size: 15px; 
	position:relative;
	margin-left: 13%; 
	}
.sende01{
		margin-left : 23%;
		background-color: #A9ED26;
		cursor: pointer; 
		color: #000000; width: 140px; 
		padding: 5px; 
		line-height: 130%; 
		border-radius: 7px;
		margin-bottom : 3%;
}

#frage{ 
	color: #5A5A5A;
	font: 35px Verdana, Geneva, sans-serif;  font-weight: 900;
	-webkit-background-clip: text; 
	}
#tkl{ 
	font: 25px Verdana,Geneva,sans-serif;  
	font-weight: 900;
	}

	.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}