body {
	background-image: url(./images/b6.jpg);
	font: Calibri, sans-serif; 
}

.wrapper {
	margin-left: auto;
    margin-right: auto;
   
	width : 25cm;
    
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 3px 3px 10px #888;
}

.header_anmelden {
    height: 3.5cm;
	background-size:100% auto;
	background-image: url(./images/Picture3.png);
	padding-bottom : 1.3cm;
	padding-right : 0.5cm;
	
}

.contentwrap {
	
	padding-top : 1.5cm;
	padding-bottom : 3cm;
	margin-bottom: 0cm;
	background-color: white;
	height : 13cm;
	 opacity:.90;
	-moz-opacity:.50; 
	filter:alpha(opacity=5);  
}

#logIn1{
	position : relative;
	top : 3.5cm;
	left : 12.5cm;
	text-decoration:none;
}

#pw_vergessen{
	position : relative;
	top : -0.3cm;
	left : 4.9cm;
	color:#A9ED26;
}
#daten{
	
	float: right;
	moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 10px #888;
    width: 9.5cm;
	height : 13.5cm;
	padding-bottom : 3%;
	padding-top : 2%;
	padding-left : 5%;
	margin-right : 5%;
}

#bild{
position : absolute;
top : 7cm;
	float : left;
	margin-left : 1%;	
	width:14cm; 
	<! height: 495px;>
}

.eingabe {
		-moz-box-shadow: 0 0 5px #888;
		-webkit-box-shadow: 0 0 5px#888;
		box-shadow: 0 0 10px #888;
		width: 80%;
		padding: 2%;
		border-radius: 7px;
}

#wm{
	font-size: 20px; 
	position:relative;
	margin-left: 13%; 
	}
.sende01{
		margin-left : 23%;
		background-color: #A9ED26;
		cursor: pointer; 
		color: #000000; width: 140px; 
		padding: 5px; 
		line-height: 130%; 
		border-radius: 7px;
}

#frage{ 
	color: #5A5A5A;
	font: 35px Verdana, Geneva, sans-serif;  font-weight: 900;
	-webkit-background-clip: text; 
	}
#tkl{ 
	font: 25px Verdana,Geneva,sans-serif;  
	font-weight: 900;
	}